{% extends "base.html" %}
{% load staticfiles %}
{% block extrastyle %}{% static "css/style.css" %}{% endblock %}
{% block title %}자유게시판 글쓰기{% endblock %}
{% block content %}

<script language="javascript">
    // 자바 스크립트 시작
    function writeCheck() {
        var form = document.writeform;

        if (!form.name.value)
        {
            alert("이름을 적어주세요");
            form.name.focus();
            return;
        }
        if (!form.subject.value) {
            alert("제목을 적어주세요");
            form.subject.focus();
            return;
        }
        if (!form.memo.value) {
            alert("내용을 적어주세요");
            form.memo.focus();
            return;
        }

        form.submit();
    }
</script>

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=EUC-KR">

</head>
<div class="centered">
  <br>
  <h3>자유게시판 글쓰기</h3>
  <hr>

  <div class="BDdetail">
    <table width=100% border=1 cellspacing=0 cellpadding=5>
    <form name=writeform method=post action="/board/DoWriteBoard/">
    <tr>
      <td style="text-align: center;"><b>이름</b></td>
      <td><input type=text name=name size=50  maxlength=50 class="up"></td>
    </tr>
    <tr>
      <td style="text-align: center;"><b>이메일</b></td>
      <td><input type=text name=email size=50  maxlength=50 class="up"></td>
    </tr>
    <tr>
      <td style="text-align: center;"><b>제목</b></td>
      <td><input type=text name=subject size=50  maxlength=50 class="up"></td>
    </tr>
    <tr>
      <td style="text-align: center;"><b>내용</b></td>
      <td><textarea name=memo cols=50 rows=10></textarea></td>
    </tr>
    </form>
    </table>
    <div class="upbtns">
      <input type=button value="등록" OnClick="javascript:writeCheck();" class="wbtns">
    </div>


  </div>
</div>
{% endblock %}
{% block footer %}
<footer class="footer bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
        <ul class="list-inline mb-2">
          <li class="list-inline-item">
            <a href="#" style="color:gray">About</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="#" style="color:gray">Contact</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="#" style="color:gray">Terms of Use</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="#" style="color:gray">Privacy Policy</a>
          </li>
        </ul>
        <p class="text-muted small mb-4 mb-lg-0" style="font-size:13px">&copy; 스타터스</p>
        <p class="text-muted small mb-4 mb-lg-0" style="font-size:13px"> 스타터스는 여러분과 함께 성장합니다.</p>

      </div>
      <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
        <ul class="list-inline mb-0">
          <li class="list-inline-item mr-3">
            <a href="#" style="color:#F9A277">
              <i class="fa fa-facebook fa-2x fa-fw"></i>
            </a>
          </li>
          <li class="list-inline-item mr-3">
            <a href="#" style="color:#F9A277">
              <i class="fa fa-twitter fa-2x fa-fw"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#" style="color:#F9A277">
              <i class="fa fa-instagram fa-2x fa-fw"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
{% endblock footer %}
